 * {
  margin: 0;
  padding: 0;
 }

 body {
  font-family: Noto Sans JP;
 }

 a {
  text-decoration: none;
  color: white;
 }

 li {
  list-style: none;
 }

 .main_kv {
  background-image: url(../img/main.png);
  width: 100%;
  height: 812px;
  background-position: center;
  background-size: cover;
  padding: 15px 0px;
  color: white;
}

.kv_logo {
  padding: 0 38px;
}

.kv_logo img {
  width: 190px;
  cursor: pointer;
}

.kv_contents {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.kv_text {
  margin-top: 28px;
  font-size: 28px;
  font-weight: 700;
}

.kv_title {
  margin-top: 38px;
}

.kv_date {
  font-weight: 700;
  font-style: italic;
  margin: 0 auto;
  margin-top: 9px;
  font-size: 2.4rem;
  padding: 0px 20px;
  letter-spacing: -0.06em;
}

.kv_date span {
  font-size: 33px;
}

.kv_area {
  margin-top: 3px;
  font-weight: 700;
  font-size: 29px;
}

.kv_apply {
  margin-top: 38px;
}



/* contents部分  */
.contents {
  background-image: url(../img/contents.svg);
  height: 1466px;
  background-position: center;
  background-size: cover;
}

.summit {
  text-align: center;
  padding: 33px 0;
}

.limit {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-style: italic;
  font-weight: 700;
  color: #81D7FC;
  font-size: 50px;
}

.subtitle {
  display: inline-block;
  position: relative;
  font-weight: 700;
  margin-top: 6px;
  font-size: 18px;
  align-items: center; /* 横線を上下中央 */
  display: flex; /* 文字と横線を横並び */
  justify-content: center; /* 文字を中央寄せ */
}

.subtitle::before,
.subtitle::after {
  background-color: #444545; /* 横線の色 */
  content: "";
  height: 1px; /* 横線の高さ */
  width: 32px; /* 横線の長さ */
}
.subtitle::before {
  margin-right: 19px; /* 文字との余白 */
}
.subtitle::after {
  margin-left: 23px; /* 文字との余白 */
}

.summit_text {
  font-size: 22px;
  margin-top: 58px;
  line-height: 2.8rem;
  font-weight: 500;
}

.summit_detail {
  margin-top: 38px;
  text-align: left;
  font-size: 18px;
  line-height: 2.8rem;
}

.summary {
  text-align: center;
  padding: 124px 0 10px;
}

.summary .limit {
  max-width: 960px;
  margin: 0 228px;
  padding: 0 10px;
}
.summary_detail {
  margin-top: 25px;
}

.summary_table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.summary_table td {
  font-size: 21px;
  font-weight: 700;
  border-bottom: 1px dotted #C4C4C4;
  padding: 18px 2px;
}

.summary_table_column_sp {
  display: none;
}

.summary_table_column {
  vertical-align: top;
  width: 180px;
  padding-right: 0;
}

.summary_table_column_pc {
  font-size: 21px;
  padding: 18px 3px;
}

.summary_table_column span {
  padding: 10px 8px;
  border: 2px solid #FDD35C;
  border-radius: 100px;
  display: block;
  color: #FDD35C;
  text-align: center;
  font-size: 1.3rem;
  margin: 15px 5px;
}

.summary_table .table_column2 {
  padding: 50px 5px;
}

.column2 {
  padding: 0 5px;
  font-size: 22px;
}

.summary_table_column.column3 {
  padding: 12px 0px;
  font-size: 22px;
}

.summary_table .table_column3 {
  padding: 40px 7px;
  font-size: 22px;
}

.summary_table_column.column4 {
  padding: 18px 0px;
  font-size: 22px;
}

.summary_table .table_column4 {
  padding: 45px 7px;
  font-size: 22px;
  letter-spacing: -0.05rem;
}

.summary_table_column.column5 {
  padding: 18px 0px;
  font-size: 22px;
}

.summary_table_access {
  display: flex;
}

.summary_table_access .station {
  width: 50%;
  margin: 24px 0 24px 10px;
}

.summary_table_access .station ul {
  font-size: 13px;
  font-weight: 500;
  margin: 7px 0 7px 13px;
  letter-spacing: 0.04rem;
}

.summary_table_access .station ul li {
  list-style-type: disc;
  color: #FDD35C;
  margin-top: 5px;
}

.summary_table_access .station ul li span {
  color: #444545;
}

.summary_table_access .map {
  width: 50%;
}

.summary_table_access .map iframe {
  width: 100%;
  height: 100%;
}

.map_sp {
  display: none;
}

/* イベント内容 */
.event_contents {
  text-align: center;
  background-color: #FFF6DE;
  padding: 75px 0;
  margin-top: 162px;
}

.contents_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.event_contents .title {
  color: #FDD35C;
}

.contents_box {
  width: 45%;
  border: 3px solid #FDD35C;
  border-radius: 10px;
  margin-top: 54px;
}

.contents_box_title {
  background-color: #FDD35C;
  color: #FFF;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  padding: 9px;
}

.wrap_detail {
  background-color: #FFF;
  border-radius: 10px;
}

.contents_box_detail {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 15px 30px 0;
}

.contents_box_detail p {
  font-size: 14px;
  font-weight: 500;
  width: 360px;
}

.contents_box_detail img {
  width: 210px;
  height: 27px;
}

.contents_box_text {
  color: #FDD35C;
  font-size: 28px;
  font-weight: 700;
}

.contents_box_text span {
  color: #FDD35C;
  font-size: 38px;
  font-style: italic;
  margin-right: 5px;
  line-height: 1.9rem;
}

.event_img {
  width: 340px;
  margin-bottom: 16px;
}

.apply {
  margin-top: 60px;
}


/* ピックアップ */
.pickup {
  padding: 41px 0;
  text-align: center;
  border-left: 50px solid #FDD35C;
  border-right: 50px solid #FDD35C;
}

.pickup .title {
  color: #FDD35C;
}

.pickup_list {
  margin-top: 20px;
  width: 100%;
}

.pickup_list_box {
  display: flex;
  margin: 36px 0 -12px;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
}

.pickup_list_image {
  width: 325px;
  text-align: center;
  /* padding: 0 30px 0 0; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pickup_list_image img {
  max-width: 100%;
}

.pickup_list_image.image1 {
  padding: 0 37px;
}

.pickup_list_detail.image1 {
  padding-left: 33px;
  padding-top: 3px;
  font-size: 14px;
  letter-spacing: 0.1rem;
}

.pickup_list_image.image2 {
  padding: 23px 0;
  width: 288px;
}

.pickup_list_detail.image2 {
  padding-left: 27px;
  padding-top: 8px;
  font-size: 14px;
  letter-spacing: 0.07rem;
}

.pickup_list_box.image3 {
  margin: 0;
  font-size: 16px;
}

.pickup_list_image.image3 {
  padding: 17px 0 0;
  width: 288px;
}

.pickup_list_detail.image3 {
  padding-left: 14px;
  padding-top: 20px;
  font-size: 14px;
  letter-spacing: 0.12rem;
}

.pickup_list_box.image4 {
  margin: 10px 0;
  font-size: 16px;
}

.pickup_list_image.image4 {
  padding: 15px 5px;
  width: 288px;
}

.pickup_list_detail.image4 {
  padding-left: 36px;
  padding-top: 6px;
  font-size: 14px;
  letter-spacing: 0.1rem;
}

.pickup_list_detail.image4 span {
  font-size: 13px;
  letter-spacing: 0.04rem;
}

.pickup_list_box.image5 {
  margin: 16px 5px;
  font-size: 16px;
}

.pickup_list_image.image5 {
  padding: 15px 0px;
  width: 288px;
}

.pickup_list_detail.image5 {
  padding-left: 23px;
  padding-top: 11px;
  font-size: 14px;
  letter-spacing: 0.06rem;
}

/* 出展企業一覧 */
.exhibitor {
  background-image: url(../img/exhibitor2.svg);
  text-align: center;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  padding: 5px 0 70px;
}

.exhibitor_list {
  margin-top: 88px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 2.1;
  text-align: left;
  width: 905px;
}

.exhibitor .subtitle::before,
.exhibitor .subtitle::after {
  background-color: #444545; /* 横線の色 */
  content: "";
  height: 1px; /* 横線の高さ */
  width: 35px; /* 横線の長さ */
}
.exhibitor .subtitle::before {
  margin-right: 50px; /* 文字との余白 */
}
.exhibitor .subtitle::after {
  margin-left: 60px; /* 文字との余白 */
}

.exhibitor_list_name {
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.07rem;
}

.exhibitor_detail {
  padding-top: 28px;
  text-align: right;
  font-size: 20px;
}


/* タイムスケジュール */
.schedule {
  background-image: url(../img/background_4.png);
  background-size: cover;
  text-align: center;
  padding: 85px 0 173px;
  position: relative;
}

.schedule .title {
  color: #00A8F0;
}

.schedule .limit {
  max-width: 1010px;
  margin: 0 auto;
  padding: 0;
}

.schedule .subtitle {
  color: #FFF;
}

.schedule .subtitle::before,
.schedule .subtitle::after {
  background-color: #FFF;/* 横線の色 */
  content: "";
  height: 1px; /* 横線の高さ */
  width: 35px; /* 横線の長さ */
}


/* Read more ボタン実装 */
.schedule_wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 42px 0 10px;
  position: relative;
  overflow: hidden;
  transition: max-height 0.1s;
}

.readMore {
  display: none;
}

.readMore_btn {
  border: 1px solid #FFF;
  color: #FFF;
  cursor: pointer;
  padding: 3px 16px;
  font-style: italic;
}

.schedule:has(:checked) .schedule_wrap {
  max-height: 100%;
  overflow:visible
}

.readMore:has(:checked) label {
  display: none;
}

.schedule:has(:checked) .readMore {
  margin: 0;
  padding: 0;
}
/* Read more ボタン実装 */


.schedule_wrap_card {
  width: 300px;
  margin: 9px 0;
  padding: 0 18px;
  height: 260px;
}

.schedule_wrap_card_date {
  background-color: rgba(241, 251, 255, 0.6);
  border-radius: 5px;
  padding: 20px 15px;
  position: relative;
}

.schedule_wrap_card_date .schedule_img {
  position: absolute;
  left: -3px;
  top: 10px;
}

.schedule_wrap_card_date p {
  position: absolute;
  left: 5px;
  top: 11px;
  font-weight: 700;
}

.schedule_wrap_card_date .last_description {
  position: absolute;
  left: 25px;
  top: 12px;
  font-weight: 700;
}

.schedule_wrap_card_contents_images {
  height: 130px;
}

.schedule_wrap_card_contents_images img {
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
}

.schedule_wrap_card_contents_images .face_img1 {
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
  padding-top: 30px;
}

.schedule_wrap_card_contents_images .face_img2 {
  width:auto;
  height:auto;
  max-width: 100%;
  max-height: 90%;
  padding: 23px 0;
}

.schedule_wrap_card_contents_images.images_last {
  height: 155px;
}

.schedule_wrap_card_contents_images .face_img3 {
  width:auto;
  height:auto;
  max-width: 100%;
  max-height: 70%;
  position: absolute;
  padding-top: 30px;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.schedule_wrap_card_contents_detail {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  display: flex;
  align-items: center;
  height: 80px;
  text-align: left;
  line-height: 1.8rem;
}


/* よくある質問 */
.faq {
  background-image: url(../img/exhibitor.svg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 92px 0 99px 0;
}

.faq .title {
  color: #FDD35C;
}

.faq_list {
  margin-top: 47px;
}

.faq_list_box {
  /* padding: 23px 105px 0; */
  padding: 15px 10px;
  margin: 10px 93px;
  line-height: 2.4rem;
  font-size: 18px;
  font-weight: 700;
}

.faq_list_box_question {
  display: flex;
  align-items: center;
}

.faq_list_boq_question_top {
  background-color: #00A8F0;
  border-radius: 50%;
  color: #FFF;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.faq_list_boq_question_bottom {
  width: calc(100% - 30px);
  text-align: left;
}

.faq_list_box_answer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.faq_list_boq_answer_top {
  background-color: #FDD35C;
  border-radius: 50%;
  color: #FFF;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.faq_list_boq_answer_bottom {
  width: calc(100% - 30px);
  text-align: left;
}

.faq_list_boq_answer_bottom a {
  color: black;
}


/* フッター */
.footer {
  text-align: center;
  background-color: #333333;
  color: #FFF;
  padding-top: 20px;
  margin-top: 23px;
}

.footer .limit {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0;
}

.footer_exhibit {
  text-align: center;
  padding-bottom: 56px;
  border-bottom: 0.5px solid #FFF;
  margin-top: 50px;
}

.footer_exhibit a {
  color: #FFF;
  padding: 8px 40px;
  border: 1px solid #FFF;
  border-radius: 100px;
  font-size: 22px;
  font-weight: 700;
}

.footer_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 15px 0 39px;
}

.footer_detail span {
  padding: 0 10px 0 6px;
  margin-top: 30px;
  display: block;
}

.footer_detail img {
  width: 18%;
  margin-right: 35px;
}

.footer_detail a {
  color: #FFF;
}

.applyContents {
  text-align: center;
  position: fixed;
  display: block;
  top: 50%;
  right: 0;
  padding: 10px 0 10px 10px;
  transform: translateY(-50%);
}

@media screen and (max-width: 1200px) {
  .limit {
    width: 100%;
    padding: 0 15px;
  }

  .contents_wrap {
    width: 100%;
  }

  .contents_box_title {
    font-size: 16px;
  }

  .contents_box_detail p {
    /* width: 290px; */
    width: 100%;
  }

  .contents_box_detail img {
    width: 110px;
    height: 15px;
  }

  .contents_box_text {
    font-size: 15px;
  }

  .contents_box_text span {
    font-size: 17px;
    line-height: 0;
  }

  /* contents部分  */
.contents {
  height: auto;
}

.title {
  font-size: 40px;
}

.subtitle {
  font-size: 14px;
}

.summary {
  padding: 124px 0 0;
}

.summary .limit {
  margin: 0;
  padding: 0 15px;
}

.summit_text {
  font-size: 17px;
  margin-top: 58px;
  line-height: 2rem;
}

.summit_detail {
  margin: 38px 60px 0;
  font-size: 16px;
  line-height: 2rem;
}

.summary_detail {
  width: 100%;
}

.summary_table td {
  font-size: 21px;
  padding: 18px 2px;
}

.summary_table_column {
  width: 180px;
  padding-right: 0;
}

.summary_table_column_pc {
  font-size: 14px;
  padding: 18px 3px;
}

.summary_table_column span {
  padding: 10px 8px;
  font-size: 0.8rem;
  margin: 15px 20px;
}

.summary_table .table_column2 {
  padding: 50px 5px;
}

.column2 {
  padding: 0 5px;
  font-size: 14px;
}

.summary_table_column.column3 {
  padding: 12px 0px;
  font-size: 14px;
}

.summary_table .table_column3 {
  padding: 40px 7px;
  font-size: 14px;
}

.summary_table_column.column4 {
  padding: 18px 0px;
  font-size: 14px;
}

.summary_table .table_column4 {
  padding: 45px 7px;
  font-size: 14px;
  letter-spacing: -0.05rem;
}

.summary_table_column.column5 {
  padding: 18px 0px;
  font-size: 14px;
}

.summary_table_access {
  display: flex;
}

.summary_table_access .station {
  width: 50%;
  margin: 24px 0 24px;
}

.summary_table_access .station ul {
  font-size: 10px;
  font-weight: 500;
  margin: 7px 0 7px 13px;
  letter-spacing: 0.04rem;
}

.summary_table_access .station ul li {
  margin-top: 5px;
}

.summary_table_access .map {
  width: 47%;
}

/* イベント内容 */
.event_contents {
  padding: 0 auto;
  margin-top: 0;
}

.event_contents .limit {
  width: auto;
  padding: 0 30px;
}

.contents_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.exhibitor {
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 52px 0 65px;
  width: 100%;
}

.exhibitor_list {
  margin-top: 85px;
  line-height: 1.8;
  text-align: left;
  width: 100%;
}

/* イベント内容 */
.event_img {
  width: 310px;
}

.exhibitor {
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0 0 65px;
  width: 100%;
}

.exhibitor_list {
  margin-top: 0;
  line-height: 1.8;
  text-align: left;
  width: 100%;
}

/* ピックアップ */
.pickup {
  padding: 41px 0;
}

.pickup_list {
  margin: 20px 20px 0;
  width: 90%;
}

.pickup_list_box,
.pickup_list_box.image3,
.pickup_list_box.image4,
.pickup_list_box.image5 {
  display: flex;
  margin: 36px 0 -12px;
  text-align: left;
  font-weight: 700;
  font-size: 10px;
}

.pickup_list_image,
.pickup_list_image.image2,
.pickup_list_image.image3,
.pickup_list_image.image4,
.pickup_list_image.image5 {
  width: 45%;
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pickup_list_image.image1,
.pickup_list_image.image3 {
  width: 45%;
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pickup_list_detail.image1,
.pickup_list_detail.image2,
.pickup_list_detail.image3,
.pickup_list_detail.image4,
.pickup_list_detail.image5 {
  padding: 0 10px;
  padding-top: 3px;
  font-size: 10px;
  letter-spacing: 0.1rem;
  justify-content: left;
  width: 70%;
}

.pickup_list_image img {
  width: 50%;
  height: 50%;
}

.image4-img {
  width: 20%;
  height: 30%;
}

.pickup_list_detail.image4 span {
  font-size: 8px;
  letter-spacing: 0.1rem;
}

/* 出展企業一覧 */
.exhibitor {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  padding: 5px 0 70px;
}

.exhibitor_list {
  margin-top: 88px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  line-height: 1.6;
  margin: 0 auto;
}

.exhibitor_list_name {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.exhibitor_detail {
  padding: 28px 30px 0;
  text-align: right;
  font-size: 14px;
}

  /*↓↓↓↓↓↓ タイムスケジュール ↓↓↓↓↓↓*/
.schedule_wrap_card {
  margin-top: 16px;
  padding: 0 8px;
  height: auto;
}

.schedule_wrap_card_date p {
  position: absolute;
  left: 5px;
  top: 11px;
  font-weight: 700;
}

.schedule_wrap_card_contents_detail {
  font-size: 16px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  height: 80px;
} 

  /*↑↑↑↑↑↑↑ タイムスケジュール ↑↑↑↑↑↑↑*/

.footer .limit {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}
}

@media screen and (max-width: 900px) {
  .schedule_wrap_card_contents_images .face_img3 {
    width:auto;
    height:auto;
    max-width: 90%;
    max-height: 70%;
    position: absolute;
    padding-top: 30px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

@media screen and (max-width: 768px) {
  .main_kv {
    background-image: url(../img/background_sp.png);
    max-width: 768px;
    height: 436px;
    padding: 13px 10px;
  }

  .kv_title {
    margin-top: 28px;
  }

  .kv_logo {
    padding: 0px;
  }
  
  .kv_logo img {
    width: 78px;
  }
  
  .kv_contents {
    text-align: center;
    max-width: 390px;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .kv_text {
    margin-top: 34px;
    font-size: 16px;
    font-weight: 700;
  }
  
  .kv_title {
    margin-top: 20px;
  }

  .kv_title img {
    width: 87%;
  }
  
  .kv_date {
    font-weight: 700;
    font-style: italic;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 1.3rem;
    padding: 0px 20px;
    letter-spacing: -0.04em;
  }
  
  .kv_date span {
    font-size: 13px;
  }
  
  .kv_area {
    margin-top: 5px;
    font-weight: 700;
    font-size: 16px;
  }
  
  .kv_apply {
    display: none;
  }
  
  .contents {
    height: auto;
  }

  .title {
    font-size: 21px;
  }
  
  .subtitle {
    margin-top: 2px;
    font-size: 14px;
  }
  
  .subtitle::before,
  .subtitle::after {
    background-color: #444545; /* 横線の色 */
    content: "";
    height: 1px; /* 横線の高さ */
    width: 17px; /* 横線の長さ */
  }
  .subtitle::before {
    margin-right: 19px; /* 文字との余白 */
  }
  .subtitle::after {
    margin-left: 17px; /* 文字との余白 */
  }
  
  .summit_text {
    display: none;
  }
  
  .summit_detail {
    margin-top: 23px;
    text-align: left;
    font-size: 16px;
    line-height: 2.3rem;
    padding: 0 38px;
  }
  
  .summary {
    padding: 0;
  }
  
  .summary_detail {
    margin-top: 0;
  }
  
  .summary_table {
    width: 90%;
    margin: 0 auto;
  }
  
  table {
    border-collapse: collapse;
  }
  
  .summary_table td {
    font-size: 13px;
    padding: 9px 2px;
    line-height: 2.1rem;
    border-bottom: 1px dashed #C4C4C4;
  }

  .summary_table_column_pc {
    display: none;
  }

  .summary_table_column_sp {
    display: block;
  }
  
  .summary_table_column {
    width: 132px;
  }
  
  .summary_table_column span {
    padding: 2px 0;
    font-size: 14px;
    margin: 0;
    width: 100px;
  }
  
  .summary_table_access {
    display: block;
  }
  
  .summary_table_access .station {
    width: 100%;
    margin: 0;
  }
  
  .summary_table_access .station ul {
    line-height: 1.2rem;
  }
  
  .summary_table_access .station ul li {
    margin-top: 5px;
  }
  
  .summary_table_access .map {
    width: 100%;
    display: none;
  }
  .map_sp {
    display: block;
    margin: 0 10px;
  }
  
  .map_sp iframe {
    width: 100%;
    height: 100%;
  }

  .applyContents {
    display: none;
  }


  /* イベント内容 */
.event_contents {
  padding: 0 20px 5px;
  margin-top: 0;
}

.contents_wrap {
  display: block;
  margin-bottom: 20px;
}

.contents_box {
  width: 100%;
  margin-top: 17px;
}

.contents_box_title {
  font-size: 18px;
  text-align: center;
  padding: 9px 12px;
}

.contents_box_detail {
  padding: 12px 30px 0;
}

.contents_box_detail p {
  font-size: 11px;
  /* width: 250px; */
}

.contents_box_detail img {
  width: 200px;
  height: 19px;
}

.contents_box_text {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 8px;
}

.contents_box_text span {
  font-size: 30px;
  margin-right: 5px;
  line-height: 1.2rem;
}

.event_img {
  width: 260px;
  margin-bottom: 10px;
}

.apply {
  display: none;
}

/* ピックアップ */
.pickup_list {
  margin: 20px 20px 0;
  width: 80%;
}

.pickup_list_box {
  font-weight: 500;
}

/* 出展企業 */
.exhibitor {
  padding: 30px 0 70px;
}


  /*↓↓↓↓↓↓ タイムスケジュール ↓↓↓↓↓↓*/
.schedule_wrap_card {
  margin-top: 16px;
  padding: 0 10px;
  width: 250px;
  height: auto;
}

.schedule_wrap_card_contents_images img {
  max-height: 80%;
  padding-top: 23px;
}

.schedule_wrap_card_contents_images .face_img1 {
  padding: 32px 3px 0;
}

.schedule_wrap_card_contents_images .face_img2 {
  max-height: 80%;
  padding: 23px 3px 0;
}

.schedule_wrap_card_date p {
  position: absolute;
  left: 5px;
  top: 11px;
  font-weight: 700;
}

.schedule_wrap_card_contents_images {
  height: 100px;
}

.schedule_wrap_card_contents_detail {
  font-size: 16px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  height: 80px;
}

 /*↑↑↑↑↑↑↑ タイムスケジュール ↑↑↑↑↑↑↑*/

.footer .limit {
  max-width: 768px;
  margin: 0 auto;
  padding: 0;
}

}

@media screen and (max-width: 650px) {
.exhibitor_list {
  justify-content: space-around;
  align-items: flex-start;
  line-height: 1.8;
  margin: 0 auto;
  width: 90%;
}

.exhibitor_list_name {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.footer .limit {
  max-width: 650px;
  margin: 0 auto;
  padding: 0;
}

}

@media screen and (max-width: 575px) {
  .contents {
    height: auto;
  }

  .pickup {
    display: none;
  }

/*↓↓↓↓↓↓ タイムスケジュール ↓↓↓↓↓↓*/
.schedule {
  padding: 38px 0 20px;
}

.schedule .subtitle::before,
.schedule .subtitle::after {
  background-color: #fff; /* 横線の色 */
  content: "";
  height: 1px; /* 横線の高さ */
  width: 23px; /* 横線の長さ */
}
.schedule .subtitle::before {
  margin-right: 10px; /* 文字との余白 */
}
.schedule .subtitle::after {
  margin-left: 10px; /* 文字との余白 */
}

.schedule_wrap {
  margin-top: 14px;
  max-height: 410px;
} 

.schedule_wrap_card {
  margin: 17px 0 0;
  padding: 0;
  width: 90%;
}

.schedule_wrap_card_date {
  padding: 0;
}

.schedule_wrap_card_date .schedule_img {
  top: 7px;
}

.schedule_wrap_card_date p {
  left: 2px;
  top: 8px;
}

.schedule_wrap_card_contents_images img {
  position: absolute;
  top: -13px;
  right: 10px;
  max-width:100%;
  max-height:85%;
}

.schedule_wrap_card_contents {
  display: flex;
  align-items: center;
}

.schedule_wrap_card_contents_detail {
  margin: 0;
  padding: 25px 13px 0;
  display: flex;
  align-items: center;
  height: 25px;
  width: 65%;
  letter-spacing: 0.15rem;
  line-height: 1.1rem;
}

.readMore {
  display: block;
  margin: 12px auto 50px;
}

 .schedule_wrap_card_contents_detail.sp1 {
  font-size: 16px;
  margin: 0;
  padding: 30px 13px 10px;
  height: 60px;
  width: 50%;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}


.schedule_wrap_card_contents_detail.sp2 {
  font-size: 16px;
  margin: 0;
  padding: 30px 13px 10px ;
  display: flex;
  align-items: center;
  height: 60px;
  width: 50%;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}

.schedule_wrap_card_contents_images .face_img1,
.schedule_wrap_card_contents_images .face_img {
  width:auto;
  height:auto;
  max-width:100%;
  max-height:70%;
  padding-top: 25px;
}

.schedule_wrap_card_date .last_description {
  position: absolute;
  left: 23px;
  top: 10px;
  font-weight: 700;
  width: 5%;
}

.schedule_wrap_card_contents_images.images_last {
  height: 100px;
}

.schedule_wrap_card_contents_images .face_img3 {
  width:auto;
  height:auto;
  max-width: 90%;
  max-height: 70%;
  padding-top: 5px;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
} 
/*↑↑↑↑↑↑↑ タイムスケジュール ↑↑↑↑↑↑↑*/
}


@media screen and (max-width: 450px) {
  /*↓↓↓↓↓↓ タイムスケジュール ↓↓↓↓↓↓*/
 .schedule_wrap_card_contents_detail.sp1 {
   width: 40%;
 }

 .schedule_wrap_card_contents_detail.sp2 {
  width: 45%;
 }
 /*↑↑↑↑↑↑↑ タイムスケジュール ↑↑↑↑↑↑↑*/
}


@media screen and (max-width: 400px) {
.main_kv {
  background-image: url(../img/background_sp.png);
  max-width: 400px;
  height: 466px;
  padding: 0;
}

.kv_logo {
  padding: 14px 12px;
}

.kv_logo img {
  width: 76px;
  cursor: pointer;
}

.kv_contents {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 10px;
}

.kv_text {
  margin-top: 18px;
  font-size: 16px;
}

.kv_title {
  margin-top: 25px;
}

.kv_title img {
  width: 81%;
}

.kv_date {
  margin: 0 auto;
  margin-top: 12px;
  font-size: 1.2rem;
  padding: 0px 20px;
  letter-spacing: -0.02rem;
}

.kv_date span {
  font-size: 1.0rem;
}

.kv_area {
  margin-top: 4px;
  font-size: 16px;
}

.kv_apply {
  margin-top: 38px;
}



/* contents部分  */
.contents {
  background-image: url(../img/sp_contents.svg);
  height: 356px;
  background-position: center;
  background-size: cover;
}

.summit {
  text-align: center;
  padding: 25px 0 28px;
}

.limit {
  max-width: 400px;
  margin: 0 auto;
  padding: 0;
}

.title {
  font-size: 22px;
  margin: 0 auto;
}

.subtitle {
  display: inline-block;
  position: relative;
  margin-top: 4px;
  font-size: 14px;
  align-items: center; /* 横線を上下中央 */
  display: flex; /* 文字と横線を横並び */
  justify-content: center; /* 文字を中央寄せ */
}

.subtitle::before,
.subtitle::after {
  background-color: #444545; /* 横線の色 */
  content: "";
  height: 1px; /* 横線の高さ */
  width: 18px; /* 横線の長さ */
}
.subtitle::before {
  margin-right: 15px; /* 文字との余白 */
}
.subtitle::after {
  margin-left: 20px; /* 文字との余白 */
}

.summit_text {
  display: none;
}

.summit_detail {
  margin-top: 18px;
  font-size: 15px;
  line-height: 2.36rem;
  padding: 0;
  margin: 20px 50px 0;
  letter-spacing: 0.05rem;
}

.summary {
  padding: 0 0 10px;
}

.summary .limit {
  max-width: 350px;
  margin: 0 auto;
  padding: 0;
}
.summary_detail {
  margin-top: 7px;
}

.summary_table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-top: 14px;
}

.summary_table td {
  font-size: 21px;
  font-weight: 700;
  border-bottom: 1px dotted #C4C4C4;
  padding: 7px 0;
  line-height: 1.6rem;
}

.summary_table_column_sp {
  display: block;
  font-size: 12px;
  padding: 0;
  margin: 0;
  letter-spacing: 0.035rem;
  line-height: 1.9rem;
}

.summary_table_column {
  vertical-align: top;
  width: 37%;
  padding-right: 0;
  padding: 7px 2px 7px;
  line-height: 1.2rem;
}

.summary_table_column_pc {
  display: none;
}

.summary_table_column span {
  padding: 0 7px;
  font-size: 0.9rem;
  margin: 5px 0;
  width: 70%;
}

.summary_table .table_column2 {
  padding: 5px 0;
}

.table_column2 .summary_table_column_sp {
  padding: 5px 0;
  margin-left: 0;
  font-size: 13px;
  letter-spacing: 0.03rem;
}

.column2 {
  padding: 0 5px;
  font-size: 22px;
}

.summary_table_column.column3 {
  padding: 2px 1px;
  font-size: 22px;
}

.summary_table .table_column3 {
  padding: 5px 0;
  font-size: 13px;
  letter-spacing: 0.05rem;
}

.summary_table_column.column4 {
  padding: 6px 2px;
  font-size: 13px;
}

.summary_table .table_column4 {
  padding: 13px 0 3px;
  font-size: 13px;
  letter-spacing: 0.03rem;
  line-height: 1.8rem;
}

.summary_table_column.column5 {
  padding: 6px 3px;
  font-size: 13px;
}

.summary_table_access {
  display: flex;
  padding: 0;
}

.summary_table_access .station {
  width: 100%;
  margin: 5px 0;
  font-size: 14px;
  text-align: left;
}

.summary_table_access .station ul {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  letter-spacing: 0.01rem;
  line-height: 1.15rem;
}

.summary_table_access .station ul li {
  list-style-type: disc;
  color: #FDD35C;
  margin: 4px 0 5px;
}

.summary_table_access .station ul li:nth-of-type(2) {
  margin: 8px 0 2px;
}

.summary_table_access .map iframe {
  width: 100%;
  height: 100%;
}

.map_sp {
  display: block;
  padding: 10px;
  height: 200px;
}

/* イベント内容 */
.event_contents {
  padding: 36px 0 35px;
  margin-top: 965px;
}

.event_contents .subtitle::before,
.event_contents .subtitle::after {
  background-color: #444545; /* 横線の色 */
  content: "";
  height: 1px; /* 横線の高さ */
  width: 22px; /* 横線の長さ */
}
.event_contents .subtitle::before {
  margin-right: 30px; /* 文字との余白 */
}
.event_contents .subtitle::after {
  margin-left: 30px; /* 文字との余白 */
}

.contents_wrap {
  display: block;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.event_contents .title {
  color: #FDD35C;
}

.contents_box {
  width: 100%;
  margin: 20px 0;
}

.contents_box_title {
  font-size: 18px;
  text-align: center;
  padding: 7px 0;
  letter-spacing: 0.03rem;
}

.wrap_detail {
  background-color: #FFF;
}

.contents_box_detail {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 12px 30px 0;
}

.contents_box_detail p {
  font-size: 10px;
  font-weight: 500;
  width: 160px;
  letter-spacing: 0.04rem;
  margin: 0 auto;
}

.contents_box_detail img {
  width: 170px;
  height: 23px;
}

.contents_box_text {
  color: #FDD35C;
  font-size: 20px;
  font-weight: 700;
}

.contents_box_text span {
  color: #FDD35C;
  font-size: 30px;
  font-style: italic;
  margin-right: 5px;
  line-height: 1rem;
}

.event_img {
  /* width: 260px;
  margin: 0;
  padding: 5px; */
  width:auto;
  height:auto;
  max-width:80%;
  max-height:100%;
}

.apply {
  margin-top: 60px;
}


/* ピックアップ */
.pickup {
  display: none;
}

/* 出展企業一覧 */
.exhibitor {
  background-image: url(../img/sp_exhibitor.svg);
  text-align: center;
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  padding: 33px 0;
  margin-bottom: 56px;
}

.exhibitor_list {
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 1.2rem;
  text-align: left;
  width: 70%;
}

.exhibitor .subtitle::before,
.exhibitor .subtitle::after {
  background-color: #444545; /* 横線の色 */
  content: "";
  height: 1px; /* 横線の高さ */
  width: 23px; /* 横線の長さ */
}
.exhibitor .subtitle::before {
  margin-right: 10px; /* 文字との余白 */
}
.exhibitor .subtitle::after {
  margin-left: 10px; /* 文字との余白 */
}

.exhibitor_list_name {
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 0.07rem;
}

.exhibitor_detail {
  display: none;
}

/* よくある質問 */
.faq {
  padding: 27px 0 50px;
}

.subtitle::before,
.subtitle::after {
  background-color: #444545; /* 横線の色 */
  content: "";
  height: 1px; /* 横線の高さ */
  width: 23px; /* 横線の長さ */
}
.subtitle::before {
  margin-right: 30px; /* 文字との余白 */
}
.subtitle::after {
  margin-left: 30px; /* 文字との余白 */
}

.faq_list {
  margin-top: 0;
  padding-top: 10px;
}

.faq_list_box {
  padding: 12px 10px;
  margin: 1px 30px 0;
  line-height: 1.2rem;
  font-size: 15px;
  letter-spacing: 0.05rem;
}

.faq_list_box_question {
  display: flex;
  align-items: center;
}

.faq_list_boq_question_top {
  background-color: #00A8F0;
  border-radius: 50%;
  color: #FFF;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.faq_list_boq_question_bottom {
  width: calc(100% - 30px);
  text-align: left;
}

.faq_list_box_answer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.faq_list_boq_answer_top {
  background-color: #FDD35C;
  border-radius: 50%;
  color: #FFF;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.faq_list_boq_answer_bottom {
  width: calc(100% - 30px);
  text-align: left;
}

.faq_list_boq_answer_bottom a {
  color: black;
}

/* フッター */
.footer {
  padding: 10px 0;
  padding-bottom: 0;
  margin: 0;
}

.footer .limit {
  max-width: 297px;
  margin: 0 auto;
  padding: 0;
}

.footer_exhibit {
  margin-top: 24px;
  padding-bottom: 27px;
}

.footer_exhibit a {
  padding: 7px 45px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700;
}

.footer_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  padding: 8px 0 26px;
}

.footer_detail span {
  padding: 0 4px 0 0;
  margin-top: 20px;
  display: block;
}

.footer_detail img {
  width: 40%;
  margin-right: 17px;
}

.footer_detail a {
  color: #FFF;
}

}

@media screen and (max-width: 380px){
/*↓↓↓↓↓↓ タイムスケジュール ↓↓↓↓↓↓*/
.schedule_wrap_card_contents_detail {
  font-size: 14px;
  width: 55%;
}

.schedule_wrap_card_contents_images img {
  top: -5px;
  max-width: 20%;
  max-height: 80%;
}

.schedule_wrap_card_contents_images .face_img1 {
  max-width: 45%;
  padding-top: 36px;
}

.schedule_wrap_card_contents_images .face_img2 {
  max-width: 40%;
  max-height: 70%;
  padding-top: 25px;
}

.schedule_wrap_card_contents_detail.sp1, 
.schedule_wrap_card_contents_detail.sp2 {
  font-size: 14px;
  width: 45%;
  letter-spacing: 0.05rem;
}

.schedule_wrap_card_date .last_description {
  position: absolute;
  left: 21px;
  top: 9px;
  font-weight: 700;
  width: 5%;
}
 /*↑↑↑↑↑↑↑ タイムスケジュール ↑↑↑↑↑↑↑*/

}

@media screen and (max-width: 370px){

.summit_detail {
  margin-top: 18px;
  font-size: 13px;
  line-height: 2.2rem;
  padding: 0;
  margin: 20px 50px 0;
  letter-spacing: 0.05rem;
}

.summary_table_column span {
  padding: 0 5px;
  font-size: 0.6rem;
}

.summary_table_access .station ul {
  font-size: 11px;
  font-weight: 500;
  margin: 0;
  letter-spacing: 0.01rem;
}

.contents_box_title {
  font-size: 14px;
  padding: 7px 0;
  letter-spacing: 0.03rem;
}
}